.navigation-container {
  min-height: calc(var(--nav-space) + 52px);
}
#navigation-bar {
  display: none;
}
.navigation-controls {
  margin-left: auto;
}
.select-kit.single-select.is-expanded .select-kit-header:not(.btn),
.select-kit.single-select .select-kit-header:not(.btn):focus,
.select-kit.single-select .select-kit-header:not(.btn):active {
  outline: none;
  border-color: transparent;
}
